@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Poppins:wght@300;400&family=Satisfy&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1vmin;
}

h1 {
  font-size: 25em;
  letter-spacing: 5px;
}